<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CLASSICAL CHINESE SENTENCE SEGMENTATION TOOL</title>

    <script type="text/javascript">
    </script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script language="javascript">
    </script> 
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
    <script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>
    <script >

    $(function() {
    $('#button').click(function() {
        $.ajax({
            url: '/signUpUser',
            data: $('#apitext').serialize(),
            type: 'POST',
            success: function(response) {
                obj = JSON.parse(response);
                console.log(decodeURIComponent(obj.data));
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});

    </script>>

    </head>
    <body>
        <form action="/crftag" method="post" id="input_text_form">
          <textarea rows="4" cols="50" name="input_text" form="input_text_form">明年虜攻平夏勢銳甚城幾不守雄與弟古合兵卻之徙知會州領熙河鈐轄王贍略地青唐羌人攻湟鄯詔雄與苗履援之邈川方急雄適至羌望見塵起驚而潰圍既解遂趨鄯州履後期乃至贍言蘭溪宗有遺寇宜悉蕩平之履即往雄諫不聽戒所部嚴備以待俄而履師退賊追及雄整眾迎擊破之獻馘二千哲宗遣中使持詔勞問徙河州種朴戰沒王贍軍陷敵中雄自鄯至湟四戰皆捷拔出之遂築安鄉關夾河立堡以護浮梁通湟水漕運商旅負販入湟者始絡繹於道加複州防禦使
          據北監本汲本殿本及南史陳後主紀補二三有物赤色如數斗
          天德初遷行台左丞進拜平章政事封譚王改封鄆王以疾求解機務不許拜司徒封沈王海陵禦下嚴厲收威柄親王大臣未嘗少假以顏色惟見通古必以禮貌</textarea><br>
          <input type="submit" value="斷句">
        </form>    

          <form class="form-signin" action="/signUp" method="post" role="form">
             <textarea rows="4" cols="50" name="input_text" id="apitext" form="input_text_form">明年虜攻平夏勢銳甚城幾不守雄與弟古合兵卻之徙知會州領熙河鈐轄王贍略地青唐羌人攻湟鄯詔雄與苗履援之邈川方急雄適至羌望見塵起驚而潰圍既解遂趨鄯州履後期乃至贍言蘭溪宗有遺寇宜悉蕩平之履即往雄諫不聽戒所部嚴備以待俄而履師退賊追及雄整眾迎擊破之獻馘二千哲宗遣中使持詔勞問徙河州種朴戰沒王贍軍陷敵中雄自鄯至湟四戰皆捷拔出之遂築安鄉關夾河立堡以護浮梁通湟水漕運商旅負販入湟者始絡繹於道加複州防禦使
          據北監本汲本殿本及南史陳後主紀補二三有物赤色如數斗
          天德初遷行台左丞進拜平章政事封譚王改封鄆王以疾求解機務不許拜司徒封沈王海陵禦下嚴厲收威柄親王大臣未嘗少假以顏色惟見通古必以禮貌</textarea><br>
 
             <button class="btn btn-lg btn-primary btn-block" id="button" type="button">Register </button>
         </form>
    </body>
</html>